Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure~
ddd/Makefile.in
ddd/config.h.in
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
themes/Makefile.in
vsllib/Makefile.in
*.swp
# Files which should be in build not src
config.texi
ddd.info
ddd.info-1
ddd.info-2
ddd-themes.info
eps-code.h
gfdl.texinfo
gpl.texinfo
header.str
trailer.str
tips.m4
